@import url("./colors.css");

#window {
  background: none;
}
.modules-right #cpu, .modules-right #pulseaudio, .modules-right #memory {
	background-color: @selection;
}

.modules-right #pulseaudio, .modules-right #keyboard-state{
	padding-left: 24px;
	border-radius: 90px 0px 0px 90px;
}
.modules-right #memory, .modules-right #bluetooth{
	padding-right: 24px;
	border-radius: 0px 90px 90px 0px;
  margin-right: 1em;
}

.modules-right #custom-power {
  background-color: @red;
  margin-right: 1em;
  color: @background-darker;
  border-radius: 90px;
  padding: 0px 0.5em;
	transition: background-image linear 0.1s;
}

.modules-right #tray {
  margin-right: 1em;
}

.modules-right #custom-power:hover {
	background-image: linear-gradient(0deg, @foreground, @red);
}


.modules-right #keyboard-state , .modules-right #bluetooth, .modules-right #battery{
	background-color: @yellow;
  color: @background-darker;
}

window#waybar {
    opacity: 0.9;
    background-image: linear-gradient(0deg, @background-darker-0, @background-darker);
  background-color: @background-darker-0;
    padding: 0.2em;
    color: @foreground;
    font-size: 14pt;
}

#workspaces button {
    padding: 0 10px;
    background: @background-darker-0;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces button.focused,
#workspaces button.active {
    background-image: linear-gradient(0deg, @purple, @background-darker-30);
    border-bottom: 2px solid @purple;
}
#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background-darker);
}

#taskbar button image {
 /* min-height: 40px;*/
}
#taskbar button.active {
    /*background-image: linear-gradient(0deg, @comment, @background-darker);*/
    border-bottom: 2px solid @orange;
}
#clock {
    padding: 0 4px;
    /*background: @background;*/
}

#keyboard-state {
  min-width: 30px;
}

#keyboard-state label {
  padding: 0px 5px;
}
  #keyboard-state label.locked {
    color: @red;
  }
